
body {
font-family: sans-serif;
font-size: 24px;
background: #f7f7f7;
}
form{
  margin: 10px;
  background: pink;
}
input{
  margin: 10px;
  display: block;
}
span{
  padding: 10px;
  cursor: pointer;
}


div {
 margin: 10px;
}
 
